version 5.249.0

source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget FSharp.Data.GraphQL.Server
nuget FSharp.Data.GraphQL.Client
nuget FSharp.UMX
nuget Giraffe
nuget Google.Api.CommonProtos
nuget Google.Protobuf 3.11.2
nuget Grpc.Core 2.28.1
nuget Grpc.Core.Api 2.28.1
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget MongoDB.Driver
nuget Newtonsoft.Json
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq
nuget System.IdentityModel.Tokens.Jwt

// [ FAKE GROUP ]
group Fake
    source https://www.nuget.org/api/v2
    storage: none
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target 