version 5.251.0
storage none
source https://api.nuget.org/v3/index.json

nuget Expecto
nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.SimpleHttp
nuget Fable.SimpleJson
nuget Feliz
nuget Feliz.MaterialUI
nuget Feliz.MaterialUI.MaterialTable
nuget Feliz.Router
nuget Feliz.UseDeferred
nuget Feliz.UseElmish
nuget FSharp.Core 4.7.2
nuget FSharp.UMX

group IntegrationTests
    source https://api.nuget.org/v3/index.json
    nuget canopy
    nuget Selenium.WebDriver.ChromeDriver 86.0.4240.2200

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core 4.7.2
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Npm
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget BlackFox.Fake.BuildTask