version 5.241.2

source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget Equinox
nuget Equinox.EventStore
nuget EventStore.Client
nuget FsCodec
nuget FsCodec.NewtonsoftJson
nuget FSharp.UMX
nuget FSharp.Control.AsyncSeq 2.0.21
nuget Google.Api.CommonProtos
nuget Google.Protobuf 3.11.2
nuget Grpc.Core 2.28.1
nuget Grpc.Core.Api 2.28.1
nuget Grpc.HealthCheck 2.28.1
nuget MongoDB.Driver
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq
nuget TaskBuilder.fs

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget BlackFox.Fake.BuildTask
