version 5.196.2

source https://www.nuget.org/api/v2
storage: none

github ameier38/fsharp-utilities src/Result.fs
github ameier38/fsharp-utilities src/SimpleType.fs
github ameier38/fsharp-utilities src/Env.fs
nuget Expecto
nuget Expecto.FsCheck
nuget FSharp.Data.GraphQL.Server 1.0.0-beta beta
nuget Newtonsoft.Json
nuget Suave

group Fake
    source https://www.nuget.org/api/v2
    storage: none
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target 