version 5.216.0

source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget FSharp.Data.GraphQL.Server
nuget Google.Api.CommonProtos
nuget Google.Protobuf 3.9.2
nuget Grpc.Core 2.24.0
nuget Grpc.Core.Api 2.24.0
nuget Newtonsoft.Json
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq
nuget Suave

// [ FAKE GROUP ]
group Fake
    source https://www.nuget.org/api/v2
    storage: none
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target 