version 5.210.1

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    github googleapis/googleapis
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
