version 5.216.0

source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget Equinox 2.0.0-rc6 preview
nuget Equinox.EventStore 2.0.0-rc6 preview
nuget Equinox.MemoryStore 2.0.0-rc6 preview
nuget FsCodec 1.0.0-rc2
nuget FsCodec.NewtonsoftJson 1.0.0-rc2
nuget FsConfig
nuget FSharp.UMX 1.0.0
nuget Google.Api.CommonProtos
nuget Google.Protobuf
nuget Grpc.Core.Api 2.24.0
nuget Grpc.AspNetCore
nuget Grpc.HealthCheck
nuget Microsoft.AspNetCore.App
nuget Serilog.Sinks.Console
nuget Serilog
nuget Serilog.Sinks.Seq

// [ FAKE GROUP ]
group Fake
    source https://www.nuget.org/api/v2
    storage: none
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target 
    nuget BlackFox.Fake.BuildTask
