version 5.250.0

source https://www.nuget.org/api/v2
storage: none

nuget Expecto
nuget Equinox
nuget Equinox.EventStore
nuget EventStore.Client
// NB: pin to fix issue
nuget protobuf-net 2.4
nuget FsCodec
nuget FsCodec.NewtonsoftJson
nuget FSharp.Core 4.7.0
nuget FSharp.UMX
nuget FSharp.Control.AsyncSeq
nuget Google.Api.CommonProtos
nuget Google.Protobuf 3.11.2
nuget Grpc.Core 2.28.1
nuget Grpc.Core.Api 2.28.1
nuget Grpc.HealthCheck 2.28.1
nuget MongoDB.Driver
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core 4.7.0
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget BlackFox.Fake.BuildTask
